body{
      font-size: 30px;
      color: #845526;
      margin: auto;
      width:760px;
      max-width: 760;
}
a:link {
      color: #331102;
      text-decoration: underline;
}
a:visited {
      color: #000000;
      text-decoration: underline;
}
a:hover {
      color: #AA613C;
      text-decoration: none;
}
#footer {
      font-size: small;
      text-align: center;
      clear: both;
}
.left {
      float: left;
      width: 70%;
}
.right {
      margin-left: 70%;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
h1 {
  color: #562007;
}
